extends layout

block content
  h1= title
  p Upload a file to get the size in bytes.
  form(method='post', enctype='multipart/form-data')
    input(type='file', name='fileupload')
    input(type='submit', name='uploadfile')
